{% extends 'base.html.twig' %}
{% block link%}<link href="{{ asset('css/styleLogin.css') }}" rel="stylesheet">{% endblock %}
{% block header %}{% endblock %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
    <div class="container">
        <div class="section has-text-centered">
            <img src="{{ asset('images/logo_white.png') }}" alt="logo">
            <form method="post" class="field">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="title has-text-white">Sortir.com</h1>
                <div class="field">
                    <label for="inputEmail" class="label">Email</label>
                    <input placeholder="Email" class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
               <div class="field">
                   <label for="inputPassword" class="label">Mot de passe</label>
                   <input placeholder="*********" class="input" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
               </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="button is-black" type="submit">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}