{% extends 'baseLogin.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
    <div class="container is-flex is-justify-content-center is-align-items-center">
        <div class="section is-flex-grow-1 has-text-centered">
            <img src="{{ asset('images/logo_white.png') }}" alt="logo">
            <form method="post" class="field">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="title has-text-white">Sortir.com</h1>
                <div class="field">
                    <label for="inputEmail" class="label">Email</label>
                    <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" autocomplete="email" required autofocus>
                </div>
               <div class="field">
                   <label for="inputPassword" class="label">Mot de passe</label>
                   <input placeholder="*********" type="password" name="password" id="inputPassword" class=" input form-control" autocomplete="current-password" required>

                       <label class="label mt-3">
                           <input type="checkbox" name="remember_me" checked>
                           Se Souvenir de moi
                       </label>

                   </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="button is-black is-fullwidth" type="submit">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}