{% extends 'base.html.twig' %}
 {% block link %}
     <link href="{{ asset('css/home.css') }}" rel="stylesheet">{% endblock %}

{% block meta_title %}Accueil{% endblock %}

{% block header %}
    <div class="background-image" id="header-home">
        <div class="container is-flex is-justify-content-center is-align-items-center">
            <div class="section is-flex-grow-1">
                <form id="search" onsubmit="launch_search(); return false;">
                    <div class="columns">
                        <div class="column">
                            <input id="search" class="input mb-2" type="text" placeholder="Rechercher...">
                            <div class="control has-icons-left mb-2">
                                <label class="has-text-white">Date de début</label>
                                <input id="date_debut" class="input" type="date" placeholder="Date début">
                            </div>
                            <div class="control has-icons-left mb-2">
                                <label class="has-text-white">Date de clôture</label>
                                <input id="date_cloture" class="input" type="date" placeholder="Date fin">
                            </div>
                            <button class="button is-black is-fullwidth" type="submit">Rechercher</button>
                        </div>

                        <div class="column">
                            <div class="select is-fullwidth mb-2">
                                <select id="sites">
                                {% for site in sites %}
                                        <option value="{{ site.id }}">{{ site.name }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <label class="checkbox has-text-white mb-2 is-block">
                                <input id="organizer" type="checkbox" value="{{ app.user.id }}">
                                Sorties dont je suis l'organisateur/trice
                            </label>

                            <label class="checkbox has-text-white mb-2 is-block">
                                <input id="is-register" value="{{ app.user.id }}" type="checkbox">
                                Sorties auxquelles je suis inscrit/e
                            </label>

                            <label class="checkbox has-text-white mb-2 is-block">
                                <input id="is-not-register" value="{{ app.user.id }}" type="checkbox">
                                Sorties auxquelles je ne suis pas inscrit/e
                            </label>

                            <label class="checkbox has-text-white is-block">
                                <input id="too-late" value="4" type="checkbox">
                                Sorties passées
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-2">
            <p class="has-text-centered">Bonjour, {{ app.user.username }}</p>
        </div>
    {% endif %}
    <div>
        <a href="{{ path('trip_new') }}" class="button is-fullwidth mb-6 background-blue has-text-white">Créer une
            sortie</a>
    </div>
    <div class="columns is-flex-wrap-wrap">
        {% for trip in trips %}
            {% if (((app.user.id != trip.organizer.id and trip.state.id != 1) or (app.user.id == trip.organizer.id)) and (trip.state.id != 6)) %}
                <div class="column is-4">
                    <div class="card" data-organizer="{{ trip.organizer.id }}" data-register="{{ app.user.id }}">
                        <div class="card-content">
                            <p class="title">
                                {{ trip.name }}
                            </p>
                            <p class="subtitle">
                                <a href="{{ path('profil', {id : trip.organizer.id}) }}">
                                    @{{ trip.organizer.username }}
                                </a>
                            </p>
                            <p class="content">
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                {{ trip.startingDate|date('Y-m-d H:i:s') }}<br>
                                <b>Fin des inscriptions :</b> {{ trip.endingDate|date('Y-m-d H:i:s') }}<br>
                                <b>Nombre d'inscrits :</b> {{ trip.users|length }}/{{ trip.MaxAttendees }}<br>
                                {% if trip.state.id == 5 %}
                                    <span class="has-text-danger"><b>Etat :</b> {{ trip.state.libelle }}</span><br>
                                {% else %}
                                    <b>Etat :</b> {{ trip.state.libelle }}<br>
                                {% endif %}
                                <b>Inscription :</b> Non inscrit<br>
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <span>
                                <a href="{{ path('trip_show', {id : trip.id}) }}">Afficher</a>
                            </span>
                            </p>
                            {% if trip.state.id != 5 and trip.users|length != trip.maxAttendees %}
                                {# Si l'id de l'utilisateur est dans la liste des utilisateurs inscrits #}
                                {% if trip in app.user.trips%}
                                    {{ include('trip/_unsubscribe_user_form.html.twig')  }}
                                {% else %}
                                    {# Si l'id de l'utilisateur n'est pas orgnisateur#}
                                    {% if app.user.id != trip.organizer.id %}
                                        {{ include('trip/_register_user_form.html.twig')  }}
                                    {% endif %}
                                {% endif %}



                                {% if app.user.id == trip.organizer.id and trip.state.id <= 2 %}
                                    <p class="card-footer-item">
                                    <span>
                                        <a href="{{ path('trip_edit', {id : trip.id}) }}">Modifier</a>
                                    </span>
                                    </p>
                                {% endif %}

                                {# Si l'id de l'utilisateur est égal à celui de l'organisateur et qie l'id de la sortie est égal à 1 (=en création) #}
                                {% if (trip.state.id == 1 and app.user.id == trip.organizer.id) %}
                                    {{ include('trip/_publish_trip.html.twig') }}
                                {% endif %}
                            {% endif %}
                        </footer>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {#<script>
        function launch_search() {
            /*Je récupère la checkbox #oragnizer*/
            let checkbox_organizer_id = document.querySelector('#organizer');

            /*Si #organizer est coché, je récupère toutes les sorties */
            if (checkbox_organizer_id.checked) {
                let cards = document.querySelectorAll('.card')
                /*Pour chacune des sorties, j'ajoute une classe pour les masquer. Et je récupère l'id de l'utilisateur qui a crée la sortie*/
                cards.forEach(function (card) {
                    card.parentElement.classList.add('is-hidden');
                    let card_organizer_id = card.getAttribute("data-organizer");
                        /*Si l'utilisateur connecté = à l'id de l'utilisateur qui a crée la sortie, j'affiche la card */
                        if (card_organizer_id === checkbox_organizer_id.value) {
                            card.parentElement.classList.remove('is-hidden');
                        }
                });
            }

            let checkbox_is_register = document.querySelector('#is-register');

            if (checkbox_is_register.checked){
                let cards = document.querySelectorAll('.card')

                cards.forEach(function (card) {
                    card.parentElement.classList.add('is-hidden');
                    let card_is_register = card.getAttribute("data-register");

                    if (card_is_register === checkbox_is_register.value) {
                        card.parentElement.classList.remove('is-hidden');
                    }
                });
            }
        }
    </script>#}
{% endblock %}


