{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block meta_title %}Profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/profil.css') }}">
{% endblock %}
{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->
    <div class="has-text-centered">
        <h2 class="title is-3"> {{ user.getUsername() }}</h2>


        {% if user.getPictureLink() is not null %}
            <figure class="image avatar">
                <img class="is-rounded" src="{{ asset('images/users/'~user.getPictureLink()) }}" alt="photo_user"/>
            </figure>
        {% else %}
            <figure class="image avatar">
                <img class="is-rounded" src="{{ asset('images/img_user.png') }}" alt="photo_user_par_default">
            </figure>
        {% endif %}
    </div>

    <div class="message">
        <div class="message-body has-text-centered">
            <p><span class="has-text-weight-bold">Prénom : </span>{{ user.getName() }}</p>
            <p><span class="has-text-weight-bold">Nom : </span>{{ user.getSurname() }}</p>
            {% if app.user.roles[0] ==("ROLE_ADMIN") or user.id == app.user.id %}
            <p><span class="has-text-weight-bold">Téléphone : </span>{{ user.getPhone() }}</p>
            <p><span class="has-text-weight-bold">Email : </span>{{ user.getEmail() }}</p>
            {% endif %}
            <p><span class="has-text-weight-bold">Site : </span>{{ user.site.getName() }}</p>
        </div>
    </div>

    <a href="{{ path("user") }}" class="button is-fullwidth is-primary mb-3">Retour</a>

    {% if user.id == app.user.id %}
        <a href="/profil/{{ user.id }}/edit" class="button is-fullwidth is-primary">Modifier le profil</a>
    {% endif %}
{% endblock %}
