{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/detail_profil.css') }}">
{% endblock %}
{% block title %}Profil{% endblock %}
{% block meta_title %}Profil{% endblock %}

{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->
    
    <div class = "container">
    <div class="block" id = "user_name">
    <h2 class="title is-3"> {{ user.getUsername()}}</h2>
    </div>
        <div class ="block" id="user_img">
        <img class="img_user" src="{{ asset('images/users/'~user.getPictureLink()) }}" alt="photo_user" />
        </div>
        <div class ="box">
       <p><span class = "title_info">Prénom : </span>{{ user.getName()}}</p>
    <p><span class = "title_info">Nom : </span>{{ user.getSurname()}}</p>
    <p><span class = "title_info">Téléphone : </span>{{ user.getPhone()}}</p>
    <p><span class = "title_info">Email : </span>{{ user.getEmail()}}</p>
    <p><span class = "title_info">Site : </span>{{ user.site.getName()}}</p>
        </div>
        <div class = "block" id = "link_home">
        <a href="{{ path("home") }}" class="button is-small is-fullwidth is-primary">Retour</a>
        </div>
    </div>


{% endblock %}
