{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block meta_title %}Liste des sorties{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Informations</th>
                <th>Date et Heure de l'evenement</th>
                <th>Fin des inscriptions</th>
                <th>Durée</th>
                <th>Nombre d'invités</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>

                <td>{{ trip.name }}</td>
                <td>{{ trip.informations }}</td>
                <td>{{ trip.startingDate ? trip.startingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trip.endingDate ? trip.endingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trip.duration }}</td>
                <td>{{ trip.maxAttendees }}</td>
                <td>
                    <a class="button ml-5 p-2 has-background-link has-text-white" href="{{ path('trip_show', {'id': trip.id}) }}">Afficher</a>
                </td>
                {% if  app.user.roles[0] ==("ROLE_ADMIN") or trip.organizer.id == app.user.id %}
                <td>
                    <a class="button has-text-white background-blue" href="{{ path('trip_edit', {'id': trip.id}) }}">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trip_new') }}">Créer une sortie</a>
{% endblock %}
{# <a href="https://www.google.com/maps/dir/?api=1&destination={{ place.city }}+{{ place.street }}" target="_blank">M'y rendre</a> #}