{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{% block meta_title %}Créer une sortie{% endblock %}

{% block body %}
    {{ form_start(formTrip) }}
        <h2 class="has-text-centered title has-text-weight-medium has-text-black">A propos de l'évènement</h2>

        <div class="field control">
                <label class="label">Organisateur</label>
                <input class="input" type="text" value="{{ app.user.username }}" disabled>

        </div>

        {{ form_row(formTrip.name, {}) }}
        {{ form_row(formTrip.starting_date, {}) }}
        {{ form_row(formTrip.ending_date, {}) }}
        {{ form_row(formTrip.duration, {}) }}
        {{ form_row(formTrip.max_attendees, {}) }}
        {{ form_row(formTrip.informations, {}) }}

        <h2 class="has-text-centered title has-text-weight-medium has-text-black mt-6">Lieu de l'évènement</h2>

        <div class="field control">
            {% if app.user %}
                <label class="label">Site organisateur</label>
                <input class="input" type="text" value="{{ app.user.site }}" disabled>
            {% endif %}
        </div>
        <div class="field">
            <label class="label">Ville</label>
            {{ form_row((formPlace.city), {}) }}
        </div>

        <div class="field" id="place">
            <label class="label">Lieu</label>
            {{ form_row(formTrip.place, {}) }}
        </div>

        <a class="button is-black is-fullwidth mb-4" id="add_place" onclick="open_place()">Ajouter un lieu</a>
        <script>
            (function() {
                document.getElementById("trip_place").required = true;
            })();
            function open_place() {
                if(document.querySelector('#new_place').classList.contains('is-hidden')) {
                    document.querySelector('#new_place').classList.remove("is-hidden")
                    document.querySelector('#place').classList.add("is-hidden")
                    document.querySelector('#add_place').textContent = "Utiliser un lieu existant"
                    document.getElementById('trip_place').value="";
                    document.getElementById("trip_place").required = false;
                }
                else {
                    document.querySelector('#new_place').classList.add("is-hidden")
                    document.querySelector('#place').classList.remove("is-hidden")
                    document.querySelector('#add_place').textContent = "Ajouter un lieu"
                    document.getElementById("trip_place").required = true;
                }
            }
        </script>

        <div class="has-background-light p-3 mb-6 is-hidden" id="new_place">
            {{ form_row(formPlace.name, {}) }}
            {{ form_row(formPlace.street, {}) }}
            {{ form_row(formPlace.latitude, {}) }}
            {{ form_row(formPlace.longitude, {}) }}
        </div>
    {{ form_end(formTrip) }}
    <a class="button is-danger is-fullwidth" href="{{ path('home') }}">Annuler</a>
{% endblock %}
