{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}
{% block meta_title %}Créer une sortie{% endblock %}

{% block body %}
   {{ form_start(formTrip) }}

    {{ form_row(formTrip.name, {
    }) }}
   {{ form_row(formTrip.starting_date, {
   }) }}
   {{ form_row(formTrip.ending_date, {
   }) }}
   {{ form_row(formTrip.duration, {
   }) }}
   {{ form_row(formTrip.max_attendees, {
   }) }}
   {{ form_row(formTrip.informations, {
   }) }}
     <h1 class="has-text-centered subtitle has-text-weight-medium has-text-black">Lieu de l'évènement</h1>

    {{ form_row(formTrip.site, {}) }}
    {#{{ form_row(formTrip.city, {}) }}#}
    {{ form_row(formTrip.place, {}) }}
    <a class="button is-black is-fullwidth" href="{{ path('new_place') }}">Ajouter un lieu</a>



    {#<a href="{{ path('new_place') }}">Nouveau lieu</a><br>#}
    {#<a href="{{ path('new_city') }}">Nouvelle ville</a>#}
    <button class="button color-text-green is-fullwidth has-text-white">{{ button_label|default('Enregistrer') }}</button>
    <button class="button is-success is-fullwidth">{{ button_label|default('Publier la sortie') }}</button>
    <a class="button is-danger is-fullwidth" href="{{ path('trip_index') }}">Annuler</a>
    {{ form_end(formTrip) }}

{% endblock %}
