{% extends 'base.html.twig' %}

{% block title %}{{ trip.name }}{% endblock %}
{% block meta_title %}{{ trip.name }}{% endblock %}

{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trip.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ trip.name }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ trip.informations }}</td>
            </tr>
            <tr>
                <th>Starting_date</th>
                <td>{{ trip.startingDate ? trip.startingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ending_date</th>
                <td>{{ trip.endingDate ? trip.endingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ trip.duration }}</td>
            </tr>
            <tr>
                <th>Max_attendees</th>
                <td>{{ trip.maxAttendees }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}" class="button is-primary is-fullwidth mb-3">Retour</a>
{% endblock %}
