{% extends 'base.html.twig' %}

{% block title %}{{ trip.name }}{% endblock %}
{% block meta_title %}{{ trip.name }}{% endblock %}

{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->

    <table class="table">
        <tbody>
            <tr>
                <th>Organisateur</th>
                <td>{{ trip.organizer.name }}</td>
            </tr>
            <tr>
                <th>Evenement</th>
                <td>{{ trip.name }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ trip.informations }}</td>
            </tr>
            <tr>
                <th>Date de l'évenement</th>
                <td>{{ trip.startingDate ? trip.startingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin des inscription</th>
                <td>{{ trip.endingDate ? trip.endingDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ trip.duration }}</td>
            </tr>
            <tr>
                <th>Nombre d'inscrits</th>
                <td>{{ trip.maxAttendees }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ trip.place.street }}</td>
                <td>{{ trip.place.city.name }}</td>
                <td><a href="https://www.google.com/maps/dir/?api=1&destination={{ trip.place.city.name }}+{{ trip.place.street }}"target="_blank">M'y rendre</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}" class="button is-primary is-fullwidth mb-3">Retour</a>
{% endblock %}
