{% extends 'base.html.twig' %}

{% block title %}Créer une ville{% endblock %}
{% block meta_title %}Créer une ville{% endblock %}

{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->

    {{ form_start(formCity) }}
        {{ form_row(formCity.name, {
            label: 'Nom'
        }) }}
        {{ form_row(formCity.cp, {
            label: 'Code Postal'
        }) }}

        <button type="submit" class="button is-primary is-fullwidth mb-3">{{ button_label|default('Enregistrer') }}</button>
        <a class="button is-danger is-fullwidth" href="{{ path("city") }}">Annuler</a>
    {{ form_end(formCity) }}
{% endblock %}