{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}
{% block meta_title %}Créer un lieu{% endblock %}

{% block body %}

    <div class="has-background-light p-3">
        {{ form_start(formPlace) }}
        {{ form_row(formPlace.name, {
        }) }}
        {{ form_row(formPlace.street, {
        }) }}
        {{ form_row(formPlace.latitude, {
        }) }}
        {{ form_row(formPlace.longitude, {
        }) }}
        {{ form_row((formPlace.city), {
        }) }}
    </div>
        <button type="submit" class="button is-primary is-fullwidth mb-3">{{ button_label|default('Enregistrer') }}</button>
        <a class="button is-danger is-fullwidth" href="{{ path("city") }}">Annuler</a>
    {{ form_end(formPlace) }}

    {#<a href="{{ path('new_city') }}">Nouvelle ville</a>#}
    {# <a href="https://www.google.com/maps/dir/?api=1&destination={{  }}+{{  }}" target="_blank">M'y rendre</a> #}
{% endblock %}