{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajouter un nouveau lieu :</h2>
    <br>
    {{ form_start(formPlace) }}
    {{ form_row(formPlace.name, {
        label: 'Nom'
    }) }}
    {{ form_row(formPlace.street, {
        label: 'Rue'
    }) }}
    {{ form_row(formPlace.latitude, {
        label: 'Latitude'
    }) }}
    {{ form_row(formPlace.longitude, {
        label: 'Longitude'
    }) }}
    {{ form_row((formPlace.city), {
        label: 'Ville'
    }) }}
    <button class="btn">{{ button_label|default('Proposer') }}</button>
    {{ form_end(formPlace) }}

    <a href="{{ path('new_city') }}">Nouvelle ville</a>
    <a href="https://www.google.com/maps/dir/?api=1&destination=La roche sur yon+Angleterre" target="_blank">M'y rendre</a>
{% endblock %}