{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}
{% block meta_title %}Créer un lieu{% endblock %}

{% block body %}
    <!-- Contenu de la page à développer ici (Ce qu'il y a après le titre de la page en bleu) -->

    {{ form_start(formPlace) }}
        {{ form_row(formPlace.name, {
            label: 'Nom'
        }) }}
        {{ form_row(formPlace.street, {
            label: 'Rue'
        }) }}
        {{ form_row(formPlace.latitude, {
            label: 'Latitude'
        }) }}
        {{ form_row(formPlace.longitude, {
            label: 'Longitude'
        }) }}
        {{ form_row((formPlace.city), {
            label: 'Ville'
        }) }}

        <button type="submit" class="button is-primary is-fullwidth mb-3">{{ button_label|default('Enregistrer') }}</button>
        <a class="button is-danger is-fullwidth" href="{{ path("city") }}">Annuler</a>
    {{ form_end(formPlace) }}
{% endblock %}