<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block meta_title %}{% endblock %} | Sortir.com</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="{{ asset('css/styleBase.css') }}" rel="stylesheet">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
        {% block link %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ path('home') }}">
                        <img src="{{ asset('images/Logo_green.png') }}" alt="logo" id="img">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                        {% if app.user.roles[0] ==("ROLE_ADMIN") %}
                            <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('user') }}">Utilisateur</a>
                            <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('city') }}">Ville</a>
                            <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('site') }}">Campus</a>
                        {% endif %}
                        <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('home') }}">Accueil</a>
                        <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('trip_index') }}">Sortie</a>
                        <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('profil', {'id' : app.user.id}) }}">Mon profil</a>
                        <a class="navbar-item color-text-blue has-text-weight-medium" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                </div>
            </nav>
        </header>
        {% block header %}
        <div class="container">
            <div class="section pb-0">
                <div class="mb-2">
                    <p class="has-text-centered">Bonjour, {{ app.user.username }}</p>
                </div>
                <h1 class="title  is-1 has-text-centered has-text-weight-bold color-text-blue">{% block title %}{% endblock %}</h1>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            <div class="section">
                {% block body %}{% endblock %}
            </div>
        </div>
    <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
